@import "bourbon";
@import "../variables.scss";


.login {
  width: 100%;

  height: 100vh;
  min-height: 1120px;
  background: url('/public/img/login-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  @include align-items(center);
  @include align-content(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include flex-wrap(nowrap);


  &-logo {
    width: 245px;
    height: 270px;
    //margin-top: 100px;
    display: block;
    background: url('/public/img/logo-login.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-form-wrap {
    margin-top: 6vh;
    text-align: center;
    form {
      width: 85%;
      @include margin(45px auto 0);
    }
    input {
      border: transparent;
      background: transparent;
      border-bottom: 3px solid white;
      width: 94%;
      height: 62px;
      font-size: 45px;
      line-height: 60px;
      padding: 0 20px;
      color: white;
      &:focus {
        @include placeholder {
          opacity: 0.3;
        }
      }
      @include placeholder {
        color: white;
        font-size: 45px;
        font-family: $h-medium;
        line-height: 68px;
        opacity: 1;
        will-change: opacity;
        @include transition(opacity 0.3s ease-in-out);
      }
    }
  }

  &-username {
    margin-bottom: 60px;
  }

  &-pswd-forget {
    font-size: 35px;
    color: $orange2;
    text-align: right;
    display: block;
    margin-right: 15px;
    font-family: $h-bold;
    text-transform: capitalize;
    margin-top: 40px;
    letter-spacing: -0.2px;
    @include transition(color 0.3s ease-in-out);
    &:hover, &:focus {
      color: shade($orange2, 30%);
    }
  }

  &-btn {
    display: block;
    @include size(94% 100px);
    background: $orange;
    text-align: center;
    color: white;
    font-size: 43px;
    margin: 18vh auto 0;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    @include transition(background 0.3s ease-in-out);
    &:hover, &:focus {
      background: shade($orange, 30%);
    }
  }

  &-error {
    color: $red;
    display: none;
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;

    &-shown {
      display: block;
    }
  }

  h1 {
    font-size: 50px;
    color: white;
    letter-spacing: -4px;
  }
}