@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
$mainFont: 'Roboto', sans-serif;

@import "bourbon";

//@include font-face("hlvtc-medium", " /public/fonts/HelveticaNeueCyrLight", $file-formats: svg ttf woff eot woff2);
//@include font-face("hlvtc-bold", " /public/fonts/HelveticaNeueCyrBold", $file-formats: svg ttf woff eot woff2);
@import "variables.scss";

body {
	font-family: $roboto;
	@include position(relative);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a, input {
	&:focus {
		outline: none;
	}
}

.vert-align {
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
	display: block;
}

.app {
	min-width: 400px;
}

.list-page {
	min-height: 100vh;
	width: 100%;
	padding-top: 120px;
}