$roboto: "Roboto", sans-serif;
$h-medium: "hlvtc-medium", Helvetica, Arial, sans-serif;
$h-bold: "hlvtc-bold", Helvetica, Arial, sans-serif;

$gray: #dadada;
$gray2: #cdcdcd;
$gray3: #c0c0c0;
$gray4: #d5d5d5;
$gray5: #c8c8c8;
$gray6: #b5b5b5;
$gray7: #3d3d3d;
$orange: #f15a24;
$orange2: #ef521f;
$red: #c62828;
$green: #03bd07;
$green2: #39b54a;
$dark: rgba(16, 16, 16, 0.9);